*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre{
    text-align: center;
}

.button {
    background: linear-gradient(102deg, #4551b5 40%, #543fd7 60%);
    color: #ffffff;
    display: inline-block;
    padding: 2px 2px;
    border-radius: .25rem;
    min-width: 120px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5s infinite;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

@keyframes pulse {
    0% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}



img{
    width: 100%;
    height: 100%;
    /* para evitar que se estire la foto */
    object-fit: cover;

}

.galeria{
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    /* para el acomodo de los elementos al elemento padre se vulve grid y se le agrega en las columnas las que 
    se puedan poner de 133px */
    grid-template-columns: repeat(auto-fit, 133px);
    /* se agrega un tamaño de  fila */
    grid-auto-rows: 200px;
    /* con esto centramos el grid*/
    justify-content: center;
    gap: 1rem;
}

/* para poder hacer el hexagono */
/* llamamos al contenedor de las fotos */

.galeria_item{
  /*conestaspropiedadespodriamoshacerelhexagono*/clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%, 0% 75%,0% 25%);
  /*leindicocuantascolumnasquieroqueabarque*/grid-column: span 2;
  height: 282px;
  /*paraqueseveabienelhover*/transition: 0.5s filter;
}
/* decimos el primer elemento que tenga la clase .galeria_item */
.galeria_item:first-of-type{
    /* decimos que se extiende o se abarca dos columnas  */
    grid-column: 2/ span 2;
}

/* aplicaremos un filtro de brillo */
.galeria_item:hover{
    filter: brightness(0.3);
}

.titulo{
    text-align: center;
    padding: 3px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
    font-size: 2.4rem;
    color: rgb(90, 26, 227);
}

.EVENTO{
 text-align: center;
 padding: 2px;
 color: rgb(90, 26, 227);
}






/* media queries respond =======================================================*/
/* esta medida los tienen los iphone 5 */
@media screen and (min-width: 270px) and (max-width: 504px){
/* me alluda a determinar los parametros */


.galeria_item:nth-of-type(2n+1){
    grid-column: 2/ span 2;
}

.galeria{
    grid-auto-rows: 190px;
    width: 100%;
    
}

.galeria_item{
height: 150px;
width: 100%;
}



}

@media screen and (min-width: 505px) and (max-width: 685px){

/* cambiaremos la posicion de los numeros impares  se peudan acomodar*/ 
.galeria_item:nth-of-type(odd){
grid-column : 2/span 2;}
}

@media screen and (min-width: 686px) and (max-width: 862px){
    /* las calses nth nos permite seleccionar expreciones o elemenos especificos */
      /* osea en el 3n+1 digo que en la 4 posicion o el 4 elemento se posicione en la columna 2 y que despues cada 3n se aplica la regla */
    .galeria_item:nth-of-type(3n+1){
        grid-column: 2/ span 2;
    }

}

@media screen and (min-width: 862px) and (max-width: 1038px){
    .galeria_item:nth-of-type(4n+1){
        grid-column: 2/ span 2;
    }

}

@media screen and (min-width: 1039px) and (max-width: 1215px){
    .galeria_item:nth-of-type(5n+1){
        grid-column: 2/ span 2;
    }

}

@media screen and (min-width: 1216px) and (max-width: 1391px){
    .galeria_item:nth-of-type(6n+1){
        grid-column: 2/ span 2;
    }

}

@media screen and (min-width: 1392px){
    .galeria_item:nth-of-type(7n+1){
        grid-column: 2/ span 2;
    }

}



footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;     
}


.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}

.conten-foo{
    text-decoration: none;
    text-align: center;
}

.conten-foo h4{
    text-decoration: none;
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;

}
.conten-foo A {
    text-decoration: none;
}
.conten-foo p{
    text-decoration: none;
    color: #ccc;
}